/** @format */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
	--Dark-Blue: hsl(218, 23%, 16%);
	--Dark-Grayish-Blue: hsl(217, 19%, 24%);
	--Light-Cyan: hsl(193, 38%, 86%);
	--Neon-Green: hsl(150, 100%, 66%);
	--Grayish-Blue: hsl(217, 19%, 38%);
}

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
	background-color: var(--Dark-Blue);
	color: white;
}

/* main section*/
.main-section {
	padding: 10rem 1rem;
}

.advice-article {
	background-color: var(--Dark-Grayish-Blue);
	padding: 2rem 1.5rem 4rem 1.5rem;
	border-radius: 0.5rem;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	max-width: 32.69rem;
	margin-inline: auto;
}

.advice-container h1 {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-size: 0.65rem;
	font-weight: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: var(--Neon-Green);
}

.advice-container p {
	color: var(--Light-Cyan);
	margin-bottom: 1.5rem;
}

.advice-qoute {
	font-weight: 800;
	font-size: 28px;
}

.new-advice-btn {
	background-color: var(--Neon-Green);
	text-align: center;
	border: none;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 50%);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	-webkit-tap-highlight-color: transparent;
}

.new-advice-btn:active {
	box-shadow: 0 0 1.5rem 0.8rem hsla(150, 100%, 66%, 0.4);
}

/* divider line */
.advice-container::after {
	content: "";
	background-image: url(./images/pattern-divider-mobile.svg);
	background-size: cover;
	background-position: center;
	display: block;
	width: 100%;
	height: 1rem;
}

/* footer - credits */

.attribution {
	font-size: 10px;
	text-align: center;
}
.attribution a {
	color: var(--Neon-Green);
	transition: all 0.25s ease-in-out;
}

.attribution a:hover {
	color: hsla(150, 100%, 66%, 0.8);
}
